.header{
    border-bottom: 5px solid red;
    width: 100%;
    height: auto;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
    z-index: 5;
    background-color: aliceblue;
}
.h1{
    color: red;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.button{
    background-color: aliceblue;
    background: none;
    border: none;
    cursor: pointer;
}
.button:focus{
    outline: none;
}
.footer{
    height: 10vh;
    background-color: aliceblue;
    border-top: 5px solid red;
}
.LogoutButtons{
    display: flex;
    flex-direction: row;
    width: 10%;
}
.LogoutButtons[data-status = "1"]{
    justify-content: center;
}
.LogoutButtons[data-status = "2"]{
    justify-content: space-between;
}
.GoHomeButton{
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.GoHomeButton .button{
    margin-right: 40%;
}
.LogoutButtons[data-status = "1"] .button{
    justify-content: center;
    margin-left: 40%;
}